<section class="pl-2.5 pr-4">
  <velo-edit-header
    (clearSelectedRoute)="clearSelectedRoute()"
  ></velo-edit-header>

  @defer (when $selectedRoute()) {
    <velo-route-detail [$selectedRoute]="$selectedRoute()"></velo-route-detail>
  } @placeholder {
    @if (!$isErrorWays() && !$isLoadingWays()) {
      <div class="p-4 text-center">
        <p>No route selected. Please select a route from the map.</p>
      </div>
    } @else {}
  }

  @if ($isLoadingWays()) {
    <h3 hlmLarge class="font-semibold my-4 h-10">Route Surfaces</h3>

    <div class="flex flex-col gap-3">
      @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track i) {
        <velo-route-skeleton class="h-[3.25rem]"></velo-route-skeleton>
      }
    </div>
  }

  @if ($isLoadedWays() && !$isErrorWays()) {
    <velo-route-ways [routeWays]="$routeWays()"></velo-route-ways>
  }

  @if ($isLoadedWays() && !$isErrorWays()) {
    <velo-route-footer
      [routeId]="$selectedRoute()['id']"
      (exportRouteToGpx)="exportRouteToGpx()"
    ></velo-route-footer>
  }

  @if ($isErrorWays()) {
    <velo-route-alert-error
      (retryLoadingWays)="retryLoadingWays()"
    ></velo-route-alert-error>
  }
</section>
