<section class="map-container relative z-10">
  <mgl-map
    #mapInstance
    [style]="$mapTiles()"
    [zoom]="[$mapInitService.initialZoom]"
    [center]="$mapInitService.initialCenter"
    [cursorStyle]="$mapInteraction.cursorStyle"
    [fitBoundsOptions]="{
      padding: 10,
    }"
    [maxZoom]="18"
    (mapLoad)="$mapInitService.onMapReady($event)"
    (moveEnd)="$mapInteraction.onMapMoveEnd()"
  >
    <mgl-geojson-source id="routes">
      @for (
        route of $routesWithUncompletedData()?.features ?? [];
        track route.properties['id']
      ) {
        <mgl-feature
          [geometry]="route.geometry"
          [properties]="route.properties"
        ></mgl-feature>
      }
    </mgl-geojson-source>

    <mgl-geojson-source id="route-way">
      @for (route of $routeWays() ?? []; track route.properties['id']) {
        <mgl-feature
          [geometry]="route.geometry"
          [properties]="route.properties"
        ></mgl-feature>
      }
    </mgl-geojson-source>

    <viewing-map-viewpoints
      (centerMapToCluster)="$mapNavigationService.centerMapToCluster($event)"
    ></viewing-map-viewpoints>

    <map-route-layer></map-route-layer>

    @if ($selectedRoute()) {
      <map-way-layer></map-way-layer>
    }

    <map-hover-popup
      [hoverRoute]="$mapInteraction.hoverRoute"
    ></map-hover-popup>

    <map-click-popup
      [selectedRoute]="$mapNavigationService.$selectedRoute()"
      [clickPopupFeature]="$mapInteraction.clickPopupFeature"
      (zoomToRoute)="$mapNavigationService.zoomToRoute($event)"
    ></map-click-popup>
  </mgl-map>

  <sidebar-button></sidebar-button>

  <filters-route></filters-route>

  <filters-waypoints></filters-waypoints>
</section>
