<section class="pl-4 pr-2.5 overflow-hi">
  <div class="relative flex items-center justify-center mt-2 mb-4 h-full">
    <button
      hlmBtn
      variant="secondary"
      size="icon"
      class="absolute left-0 size-8"
      (click)="clearSelectedRoute()"
    >
      <ng-icon name="lucide:arrow-left" class="!size-4"></ng-icon>
    </button>

    <h2 hlmLarge class="font-semibold">Selected Route</h2>
  </div>

  @defer (when $selectedRoute()) {
    <div class="overflow-x-hidden flex flex-col gap-2">
      <div hlmCardHeader class="space-y-1 pl-0">
          <h3 hlmCardTitle>
          {{ $selectedRoute()['name'] ?? 'Unnamed Route' }}
        </h3>

        <div class="flex items-center gap-2">
          @if (
            $selectedRoute()['from'] || $selectedRoute()['description']
          ) {
            <ng-icon name="lucide:map-pin" class="!size-4"></ng-icon>
          }
          <span>
            @if ($selectedRoute()['from']) {
              {{ $selectedRoute()['from'] }}
            } @else if ($selectedRoute()['description']) {
              {{ $selectedRoute()['description'].split(' - ')[0] }}
            }
          </span>
        </div>
      </div>

      <ul
        hlmCardContent
        class="space-y-2 pl-0 [&>li]:flex [&>li]:gap-2 [&>li]:items-center"
      >
        <li>
          <span>Network:</span>
          @if ($selectedRoute()['network']) {
            <span class="font-semibold">{{
              $selectedRoute()['network']
            }}</span>
          } @else {
            <span class="font-semibold">N/A</span>
          }
        </li>

        <li>
          <span>Distance:</span>
          @if ($selectedRoute()['distance']) {
            <span class="font-semibold">{{
              $selectedRoute()['distance'].includes('km')
                ? $selectedRoute()['distance']
                : $selectedRoute()['distance'] + ' km'
            }}</span>
          } @else {
            <span class="font-semibold">N/A</span>
          }
        </li>

        <li>
          <span>Route:</span>
          @if ($selectedRoute()['route']) {
            <span class="line-clamp-1 font-semibold">{{
              $selectedRoute()['route']
            }}</span>
          } @else {
            <span class="font-semibold">N/A</span>
          }
        </li>

        @if ($selectedRoute()['website']) {
          <li>
            <span>Website:</span>
            <a
              [href]="$selectedRoute()['website']"
              target="_blank"
              class="text-primary font-semibold line-clamp-1"
            >
              {{ $selectedRoute()['website'] }}
            </a>
          </li>
        }

        @if ($selectedRoute()['wikipedia']) {
          <li class="cursor-pointer">
            <a
              [href]="$selectedRoute()['wikipedia']"
              target="_blank"
              class="flex items-center gap-2"
            >
              <ng-icon name="lucide:external-link" class="!size-4"></ng-icon>
              <span>Wikipedia</span>
            </a>
          </li>
        }

        @if ($selectedRoute() && $selectedRoute()['id']) {
          <li class="cursor-pointer">
            <a
              [href]="'https://openstreetmap.org/' + $selectedRoute()['id']"
              target="_blank"
              class="flex items-center gap-2"
            >
              <ng-icon name="lucide:external-link" class="!size-4"></ng-icon>
              <span>OpenStreetMap</span>
            </a>
          </li>
        }
      </ul>
    </div>
  } @placeholder {
    <div class="p-4 text-center">
      <p>No route selected. Please select a route from the map.</p>
    </div>
  }

  @if ($isRouteLoading()) {
    <div class="p-4 text-center">
      <p>Loading...</p>
    </div>
  } @else {
    <velo-route-ways [routeWays]="$routeWays()"></velo-route-ways>
  }

  <div class="bottom-0 right-4 py-4 pl-3 pr-2 bg-gray-300 flex gap-2 mt-4 w-[22rem] fixed justify-between">
    <button
      hlmBtn
      variant="outline"
      (click)="exportRouteAsGpx()"
      class="flex items-center gap-2"
    >
      <ng-icon name="lucide:download" class="!size-4"></ng-icon>

      <span>Export GPX</span>
    </button>

    @if ($selectedRoute() && $selectedRoute()['id']) {
      <a
        [href]="'https://openstreetmap.org/' + $selectedRoute()['id']"
        target="_blank"
        hlmBtn
        variant="default"
        class="flex items-center gap-2"
      >
        Update Route
      </a>
    } @else {
      <button
        hlmBtn
        variant="default"
        disabled
      >
        Update Route
      </button>
    }
  </div>
</section>
