<div class="flex mt-4 w-full flex-col gap-4">
  <h3 hlmLarge>Subways</h3>

  <ul class="pb-20 overflow-y-auto flex flex-col gap-3">
    @for (
      route of routeSubways();
      let i = $index;
      track route.properties['id']
    ) {
      <li
        class="flex gap-2 py-1.5 pr-2 pl-12 items-center justify-between relative overflow-hidden border-0 hover:bg-gray-100"
        hlmCard
        (mouseenter)="selectSubway(route.properties['id'])"
        (mouseleave)="selectSubway(null)"
      >
        <div
          [class]="
            hlm(
              'flex left-0 items-center justify-center h-full w-9 absolute top-0 bottom-0 pr-1',
              !route.properties['surface'] && 'bg-red-600',
              route.properties['surface'] === 'paved' &&
                'bg-blue-500',
              route.properties['surface'] === 'asphalt' &&
                'bg-gray-700',
              route.properties['surface'] === 'gravel' &&
                'bg-yellow-500',
              route.properties['surface'] === 'ground' &&
                'bg-stone-500',
              route.properties['surface'] === 'unpaved' &&
                'bg-orange-500',
              route.properties['surface'] === 'wood' &&
                'bg-brown-500',
              route.properties['surface'] === 'compacted' &&
                'bg-yellow-500'
            )
          "
        >
          <span hlmLarge class="text-white w-full text-right">
            {{ i + 1 }}.
          </span>
        </div>

        <div
          class="flex gap-2 p-0 items-center justify-start"
          hlmCardContent
        >
          <span hlmLarge>
            {{ route.properties['surface'] ?? 'N/A' }}
          </span>
        </div>

        <div hlmCardFooter>
          <a
            [href]="
              'https://openstreetmap.org/' + route.properties['id']
            "
            target="_blank"
            class="flex items-center gap-2"
          >
            <span>Edit</span>
            <ng-icon name="lucide:external-link" class="!size-4" />
          </a>
        </div>
      </li>
    }
  </ul>
</div>
