<div class="flex mt-4 w-full flex-col gap-4">
  <h3 hlmLarge class="font-semibold">Route Surfaces</h3>

  <ul class="pb-20 overflow-y-auto flex flex-col gap-3">
    @for (
      route of routeWays();
      let i = $index;
      track route.properties['id']
    ) {
      <li
        [class]="hlm(
          'flex gap-2 py-2.5 pr-2 pl-4 items-center justify-between relative overflow-hidden border-0 hover:bg-gray-100',
          $hoveredSubwayId() === route.properties['id'] && 'bg-gray-100'
        )"
        hlmCard
        (mouseenter)="selectSubway(route.properties['id'])"
        (mouseleave)="selectSubway(null)"
      >
        <div
          [class]="
            hlm(
              'flex -left-1 items-center justify-center h-full w-3 absolute top-0 bottom-0 pr-1',
              getSurfaceColor(route.properties['surface'])
            )
          "
          style="background-color: {{ getSurfaceColor(route.properties['surface']) ?? 'bg-red-600' }};"
        >
        </div>

        <div
          class="flex gap-2 p-0 items-center justify-start"
          hlmCardContent
        >
          <span hlmLarge>
            {{ formatSufaceName(route.properties['surface']) ?? 'N/A' }}
          </span>
        </div>

        <div hlmCardFooter>
          <a
            [href]="
              'https://openstreetmap.org/' + route.properties['id']
            "
            target="_blank"
            class="flex items-center gap-2 text-sm"
          >
            <span>Edit</span>
            <ng-icon name="lucide:external-link" class="!size-4" />
          </a>
        </div>
      </li>
    }
  </ul>
</div>
