<div class="flex mt-4 w-full flex-col gap-4 h-1/2 overflow-hidden">
  <div class="flex items-center justify-between">
    <h3 hlmLarge class="font-semibold">
      Route Surfaces ({{ $surfacesCheckedCount() }})
    </h3>

    <div>
      <div class="flex w-full items-center justify-center">
        <button
          hlmBtn
          variant="outline"
          align="center"
          [brnMenuTriggerFor]="menu"
        >
          <ng-icon name="lucide:grid-2x2" hlmMenuIcon />
          <span>Surfaces</span>
        </button>
      </div>

      <ng-template #menu>
        <hlm-menu variant="menubar" class="min-w-[9rem] max-h-[16rem] overflow-y-auto">
          <hlm-menu-group>
            @for (surface of surfaceTypesAvailable(); track surface) {
              <button
                hlmMenuItemCheckbox
                class="pl-4 pr-1.5 justify-end text-xs whitespace-nowrap"
                [checked]="$surfacesChecked().includes(surface.name)"
                (triggered)="onSelectSurface(surface.name)"
              >
                <hlm-menu-item-check class="size-3 left-1" />
                <span>{{ surface.title }}</span>
              </button>
            }
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>
    </div>
  </div>

  <ul class="pb-20 overflow-y-auto flex flex-col gap-3 h-full">
    @for (
      route of $filteredRouteWays();
      let i = $index;
      track route.properties['id']
    ) {
      <li
        [class]="hlm(
          'flex gap-2 py-2.5 pr-2 pl-4 items-center justify-between relative overflow-hidden border-0 hover:bg-gray-100',
          $hoveredSubwayId() === route.properties['id'] && 'bg-gray-100'
        )"
        hlmCard
        (mouseenter)="selectSubway(route.properties['id'])"
        (mouseleave)="selectSubway(null)"
      >
        <div
          [class]="
            hlm(
              'flex -left-1 items-center justify-center h-full w-3 absolute top-0 bottom-0 pr-1',
              getSurfaceColor(route.properties['surface'])
            )
          "
          style="background-color: {{ getSurfaceColor(route.properties['surface']) ?? 'bg-red-600' }};"
        >
        </div>

        <div
          class="flex gap-2 p-0 items-center justify-start"
          hlmCardContent
        >
          <p class="flex flex-col items-start justify-start">
            <span class="text-[0.6rem]/3 uppercase text-gray-500">Surface</span>

            <span hlmLarge class="line-clamp-1 w-28 text-sm">
            {{ getSurfaceName(route.properties['surface']) ?? 'N/A' }}
          </span>
        </p>

        <p class="flex flex-col items-start justify-start">
          <span class="text-[0.6rem]/3 uppercase text-gray-500">Name</span>

          <span hlmLarge class="line-clamp-1 text-sm">
          {{ route.properties['name'] ?? 'N/A' }}
        </span>
      </p>
        </div>

        <div hlmCardFooter class="flex gap-2">
          <button
            hlmBtn
            variant="ghost"
            (click)="selectWayZoom(route)"
            class="p-1.5 h-auto flex items-center justify-center gap-1 hover:scale-105 hover:text-foreground text-sm data-[active=true]:bg-gray-200/80 data-[active=true]:cursor-not-allowed data-[active=true]:pointer-events-none"
            [disabled]="route.properties['id'] === $selectedWay()?.properties['id']"
            [attr.data-active]="route.properties['id'] === $selectedWay()?.properties['id']"
          >
          <ng-icon name="lucide:locate-fixed" class="!size-[1.1rem]" />
          </button>

          <a
            [href]="
              'https://openstreetmap.org/' + route.properties['id']
            "
            target="_blank"
            class="flex items-center justify-center gap-2 text-sm"
          >
            <span class="mt-px">Edit</span>
            <ng-icon name="lucide:external-link" class="!size-4" />
          </a>
        </div>
      </li>
    }
  </ul>
</div>
