<ul class="space-y-3 mt-4">
  @for (
    element of routes() || [];
    track element.properties.id
  ) {
    <li
    hlmCard
      [class]="
        hlm(
          'p-3 cursor-pointer overflow-hidden relative after:absolute after:-inset-y-1 after:-left-1 after:w-3 after:bg-primary after:rounded-l-md border-none pl-4',
          element.properties.network === 'icn' && 'after:bg-violet-500',
          element.properties.network === 'ncn' && 'after:bg-red-700',
          element.properties.network === 'rcn' && 'after:bg-orange-500',
          element.properties.network === 'lcn' && 'after:bg-black'
        )
      "
      (click)="this.onSelectRoute.emit(element)"
      (mouseenter)="
        this.onHoverRoute.emit(element.properties.id)
      "
      (mouseleave)="this.onHoverRoute.emit(null)"
    >
      <h4 class="font-semibold">
        {{ element.properties.name || 'Unnamed Route' }}
      </h4>
      @if (element.properties.distance) {
        <p class="text-sm">
          Distance: {{ element.properties.distance }}
        </p>
      }
      @if (element.properties.description) {
        <p class="text-sm">
          Description: {{ element.properties.description }}
        </p>
      }
      @if (element.properties.website) {
        <a
          [href]="element.properties.website"
          target="_blank"
          class="text-sm text-primary flex items-center gap-1 mt-1 w-fit"
        >
          <ng-icon name="lucide:external-link" class="!size-3" />
          Website
        </a>
      }
    </li>
  }
</ul>
